<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "learnwitmev2.firebaseapp.com"
        version     = "1.0.0" >

    <name>LearnWithMe</name>
    <description>Aplikacja do organizowania wspólnej nauki</description>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <platform name="android" />
    
    

    
    <plugin name="cordova-plugin-device" spec="1.1.4" />
    <plugin name="cordova-plugin-buildinfo" spec="2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="1.2.1" />
    <plugin name="cordova-plugin-browsertab" spec="0.2.0" />
    <plugin name="cordova-universal-links-plugin" spec="~1.2.1" />
    
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.1">
        <variable name="APP_ID" value="APP_ID" />
        <variable name="APP_NAME" value="APP_NAME" />
    </plugin>
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    
    <universal-links>
        <host name="a73cv.app.goo.gl" scheme="https" />
        <host name="learnwitmev2.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback"/>
        </host>
    </universal-links>

    
    <preference name="AndroidLaunchMode" value="singleTask" />
    
</widget>